{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container py-4">
  <div class="row">
    <div class="col-12 col-md-6"> 
      <h1 class="text-center text-light">{{ album.title }}</h1>
      <div class="text-center">
        <img
          class="img p-3"
          src="{{ album.cover_url }}"
          alt="{{ album.title }} Photo"
        />
      </div>
      
      <div class="text-center">Listen now on: </div>
      <div class="d-flex justify-content-around p-3">
        <a href="{{ album.deezer_album_link }}" target="_blank" rel="noopener noreferrer"
          ><img
            src="{% static 'Deezer_link.png' %}"
            style="height: 5vh"
            alt="Deezer"
        /></a>
      </div>
      
      <div class="text-center">
        <p>
          <strong class="text-warning">Artist:</strong>
          <a class="link-light text-decoration-none" href="{{ artist_detail_url }}">{{ album.artist }}</a>
        </p>
        <p><strong class="text-warning">Year:</strong> {{ album.year }}</p>
        
        <!-- Add/Remove from Collection -->
        {% if user.is_authenticated %}
          <div class="text-center">
            {% with user.usercollection_set.first as collection %}
              {% if collection and album in collection.albums.all %}
                <!-- Remove from Collection -->
                <form action="{% url 'remove_album_from_collection' album.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-warning">Remove from My Collection</button>
                </form>
              {% else %}
                <!-- Add to Collection -->
                <form action="{% url 'add_album_to_collection' album.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-warning">Add to My Collection</button>
                </form>
              {% endif %}
            {% endwith %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="col-0 col-md-1 d-none d-md-block"></div>
    
    <div class="col-12 col-md-4"> 
      <div class="row">
        <div class="col">
          <table class="table table-dark">
            <thead>
              <tr>
                <th><h3 class="text-warning">Tracklist</h3></th>
              </tr>
            </thead>
            <tbody>
              {% for song in songs %}
              <tr>
                <td>
                  <a
                    class="link-light text-decoration-none"
                    href="{% url 'song_detail' song.pk %}"
                    >{{ song.song }}</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
