{% load static %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-warning">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'ATM_logo.png' %}" alt="Logo ATM" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
       
        <li class="nav-item p-2">
          <a
            class="{% if request.path == '/' %}active{% endif %} link-dark text-decoration-none"
            href="{% url 'home' %}"
          >Home</a>
        </li>
        <li class="nav-item p-2">
          <a
            class="{% if request.path == '/artist/' %}active{% endif %} link-dark text-decoration-none"
            href="{% url 'artist_list' %}"
          >Artists</a>
        </li>
        <li class="nav-item p-2">
          <a
            class="{% if request.path == '/album/' %}active{% endif %} link-dark text-decoration-none"
            href="{% url 'album_list' %}"
          >Albums</a>
        </li>
        <li class="nav-item p-2">
          <a
            class="{% if request.path == '/song/' %}active{% endif %} link-dark text-decoration-none"
            href="{% url 'song_list' %}"
          >Songs</a>
        </li>
        <li class="nav-item p-2">
          <a
            class="{% if request.path == '/create/' %}active{% endif %} link-dark text-decoration-none"
            href="{% url 'create_from_deezer' %}"
          >Create</a>
        </li>
        
      </ul>

      <ul class="navbar-nav ms-auto align-items-center" style="color: black;">
        <li class="nav-item p-2">
          <form method="GET" action="{% url 'search_view' %}" class="d-flex align-items-center">
            <input 
              type="text" 
              name="query" 
              placeholder="Search" 
              class="form-control form-control-sm w-75" 
              style="margin-right: 5px;" 
            />
            <button type="submit" class="btn btn-sm btn-dark text-warning">Go</button>
          </form>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item p-2">
          {% with user_collection=user.usercollection_set.first %}
          <a class="link-dark text-decoration-none" href="{% url 'user_collection_detail' user_collection.id %}"><strong>{{ user.username }}'s Collection</strong></a>
          {% endwith %}
        </li>
        
        <li class="nav-item p-2">
          <a class="link-dark text-decoration-none" href="{% url 'logout' %}">
            Logout
          </a>
        </li>
        {% else %}

        <li class="nav-item p-2">
          <a class="link-dark text-decoration-none" href="{% url 'login' %}">
            Login
          </a>
        </li>
        <li class="nav-item p-2">
          <a class="link-dark text-decoration-none" href="{% url 'register' %}">
            Sign Up
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
