{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container py-4">
  <h2 class="text-light text-center my-4">
    {% with user_collection=user.usercollection_set.first %}
  <a class="link-light text-decoration-none" href="{% url 'user_collection_detail' user_collection.id %}">{{ object.user.username }}'s Collection</a>
  {% endwith %}
     - Albums</h2>
      <div class="row">
        <div class="col d-flex flex-wrap justify-content-center">
        {% for album in object.albums.all %}  <!-- Utiliza 'page_obj' en lugar de 'albums' -->
        <div class="card bg-warning me-3 my-2" style="width: 12rem;">
          <a href="{% url 'album_detail' album.pk %}">
            <img
              src="{{ album.cover_url }}"
              class="card-img-top"
              alt="{{ album.title }}"
            />
          </a>
          <div class="card-body">
            <a
              class="link-dark text-decoration-none"
              href="{% url 'album_detail' album.pk %}"
            >
              <h6 class="card-title">{{ album.title }} - {{ album.artist }}</h6>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      
      <!-- Pages -->
      <div class="d-flex justify-content-center">
        {% if is_paginated %}
      <div class="pagination" style="text-align: center; margin-top: 20px;">
        {% if page_obj.has_previous %}
        <a href="?page=1" style="margin-right: 10px" class="link-warning">&laquo; First</a>
        <a
          href="?page={{ page_obj.previous_page_number }}"
          style="margin-right: 10px"
          class="link-warning"
        >
          Previous
        </a>
        {% endif %}

        <span class="current-page" style="margin-right: 10px">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a
          href="?page={{ page_obj.next_page_number }}"
          class="link-warning"
          style="margin-right: 10px"
        >
          Next
        </a>
        <a
          href="?page={{ page_obj.paginator.num_pages }}"
          class="link-warning"
          style="margin-right: 10px"
        >
          Last &raquo;
        </a>
        {% endif %}
      </div>

      </div>
      
      {% endif %}
    </div>
    
  </div>
</div>

{% endblock content %}
