{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container py-4">
  
      <h2 class="text-light text-center my-4">
        {% with user_collection=user.usercollection_set.first %}
      <a class="link-light text-decoration-none" href="{% url 'user_collection_detail' user_collection.id %}">{{ object.user.username }}'s Collection</a>
      {% endwith %}
         - Artists</h2>
      
      <div class="row">
        <div class="col d-flex flex-wrap justify-content-center">
        {% for artist in object.artists.all %}
          <div class="card bg-warning me-3 my-2" style="width: 12rem;">
            <a href="{% url 'artist_detail' artist.pk %}">
              <img
                src="{{ artist.photo_url }}"
                class="card-img-top"
                alt="{{ artist.name }}"
              />
            </a>
            <div class="card-body">
              <a
                class="link-dark text-decoration-none"
                href="{% url 'artist_detail' artist.pk %}"
              >
                <h6 class="card-title">{{ artist.name }}</h6>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Paginate section -->
      <div class="d-flex justify-content-center">
        {% if is_paginated %}
        <div class="pagination mt-3">
          {% if page_obj.has_previous %}
            <a href="?page=1" style="margin-right: 10px" class="link-warning">&laquo; First</a>
            <a
              href="?page={{ page_obj.previous_page_number }}"
              style="margin-right: 10px"
              class="link-warning"
            >
              Previous
            </a>
          {% endif %}
          <span class="current-page" style="margin-right: 10px">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          {% if page_obj.has_next %}
            <a
              href="?page={{ page_obj.next_page_number }}"
              style="margin-right: 10px"
              class="link-warning"
            >
              Next
            </a>
            <a
              href="?page={{ page_obj.paginator.num_pages }}"
              style="margin-right: 10px"
              class="link-warning"
            >
              Last &raquo;
            </a>
          {% endif %}
        </div>

      </div>
      
      {% endif %}
    </div>
    
    
  </div>
</div>
{% endblock %}
